.header{
    display: flex;
    width: 98%;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 1%;
    z-index: 99999999;
    font-size: 18px;
}
.wifi-state{
    margin-left: 10px;
}
.iconfont{
    font-size: 18px;
}